<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if flash[:notice] %>
       <div class="flash" >
        <%= flash[:flash] %>
       </div>
      <% end %>

      <h1>Editing Book</h1>

      <% if @book.errors.any? %>
       <%= @book.errors.count %> errors occurred
       <% @book.errors.full_messages.each do |message| %>
        <%= message %>
       <% end %>
      <% end %>

      <%= form_with model:@book,local:true do |f| %>
       <div for="inputTitle">Title</div>
       <%= f.text_field :title,autofocus: true, id: "inputTitle", placeholder: "Title" %>
       <div for="inputOpinion">Opinion</div>
       <%= f.text_area :body,autofocus: true, id: "inputOpinion", placeholder: "Opinion" %>

       <%= f.submit"Update Book", class: 'btn btn-secondary' %>
      <% end %>

      <%= link_to"Show", book_path(@book) %>
      <%= link_to"Back", books_path %>

    </div>
  </div>
</div>

